node_modules
client/build
client/node_modules
.vscode
codes
best_codes
archive

.idea
.DS_Store
.history

package-lock.json
client/package-lock.json
yarn-lock.json


data

credential
*/__pycache__
*.log
client/build.zip
client/src/README.md

storage/
best_solutions
best_solutions_zipped
emails.txt
submission_details_test.csv
virtual_best.md
submission_details.csv
